<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jifeihu.smartshed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SmartShedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.LineChartActivity"
            android:label="@string/title_activity_history_data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ThresholdActivity"
            android:label="@string/title_activity_thresholds"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.InstructionsActivity"
            android:label="@string/title_activity_instructions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.DirectConnectionActivity"
            android:label="@string/title_activity_direct_connection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.SensorDetailActivity"
            android:label="@string/title_activity_sensor_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DeviceDetailActivity"
            android:label="@string/title_activity_sensor_detail" />
        <activity
            android:name=".view.activity.UserActivity"
            android:label="@string/title_activity_profile"/>
    </application>

</manifest>