<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifeihu.smartmonitor.mapper.DataTypeMapper">
	
	<select id="findAll" resultType="DataType">
		select * from tb_dataType
	</select>
	
	<select id="findOne" resultType="DataType">
		select * from tb_dataType where id = #{dataTypeId}
	</select>
	
	<update id="update">
		update tb_dataType set name = #{dataType.name},
		description = #{dataType.description}
		where id = #{dataType.id}
	</update>
	
	<delete id="delete">
		delete from tb_dataType where id = #{dataTypeId}
	</delete>
	
	<insert id="add">
		insert into tb_dataType values(null,#{dataType.name},#{dataType.description})
	</insert>
	
</mapper>
