<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.brandonbai.smartmonitor.mapper.DeviceMapper">

	<select id="findDevice" resultType="Device">
		SELECT * FROM
		tb_device d
		LEFT JOIN
		(SELECT * FROM
		(SELECT id nId, name nodeName, areaId FROM tb_node ) n
		LEFT JOIN
		(SELECT id aId, name areaName FROM tb_area ) a
		ON n.areaId = a.aId WHERE a.aId = #{areaId} ) an
		ON d.nodeId = an.nId
	</select>
	
	<select id="getAllDevices" resultType="Device">
		SELECT * FROM
		tb_device d
		LEFT JOIN
		(SELECT * FROM
		(SELECT id nId, name nodeName, areaId FROM tb_node ) n
		LEFT JOIN
		(SELECT id aId, name areaName FROM tb_area ) a
		ON n.areaId = a.aId ) an
		ON d.nodeId = an.nId
	</select>
	
	<update id="updateDeviceState">
		update tb_device set state = #{state} where id = #{id}
	</update>

	<select id="getCommands" resultType="Command">
		select * from tb_command where deviceId = #{deviceId}
	</select>

	<select id="getDevice" resultType="Device">
		select * from tb_device where id = #{deviceId}
	</select>
	
	<select id="getAutoCommand" resultType="Command">
		select * from tb_command where deviceId = #{deviceId} and flag = #{flag}
	</select>
	
	<select id="findDeviceByCommand" resultType="Device">
		SELECT * from tb_device WHERE id = 
		(SELECT deviceId FROM tb_command WHERE command = #{command})
	</select>
	
	<select id="getFlagByCommand" resultType="string">
		select flag from tb_command WHERE command = #{command}
	</select>
	
</mapper>
