<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.brandonbai.smartmonitor.mapper.DeviceMapper">

	<select id="findDevice" resultType="Device">
		SELECT * FROM
		device d
		LEFT JOIN
		(SELECT * FROM
		(SELECT id nId, name node_name, area_id FROM node ) n
		LEFT JOIN
		(SELECT id aId, name area_name FROM area ) a
		ON n.area_id = a.aId WHERE a.aId = #{areaId} ) an
		ON d.node_id = an.nId
	</select>
	
	<select id="getAllDevices" resultType="Device">
		SELECT * FROM
		device d
		LEFT JOIN
		(SELECT * FROM
		(SELECT id nId, name node_name, area_id FROM node ) n
		LEFT JOIN
		(SELECT id aId, name area_name FROM area ) a
		ON n.area_id = a.aId ) an
		ON d.node_id = an.nId
	</select>
	
	<update id="updateDeviceState">
		update device set state = #{state} where id = #{id}
	</update>

	<select id="getCommands" resultType="Command">
		select * from command where device_id = #{deviceId}
	</select>

	<select id="getDevice" resultType="Device">
		select * from device where id = #{deviceId}
	</select>
	
	<select id="getAutoCommand" resultType="Command">
		select * from command where device_id = #{deviceId} and flag = #{flag}
	</select>
	
	<select id="findDeviceByCommand" resultType="Device">
		SELECT * from device WHERE id = 
		(SELECT device_id FROM command WHERE command = #{command})
	</select>
	
	<select id="getFlagByCommand" resultType="string">
		select flag from command WHERE command = #{command}
	</select>
	
</mapper>
