<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifeihu.smartmonitor.mapper.NodeMapper">
	
	<select id="findAll" resultType="Node">
		select * from tb_node
	</select>
	
	<select id="findOne" resultType="Node">
		select * from tb_node where id = #{nodeId}
	</select>
	
	<update id="update">
		update tb_node set name = #{node.name},
		description = #{node.description}
		where id = #{node.id}
	</update>
	
	<delete id="delete">
		delete from tb_node where id = #{nodeId}
	</delete>
	
	<insert id="add">
		insert into tb_node values(null,#{node.name},#{node.description})
	</insert>
	
</mapper>
