<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.brandonbai.smartmonitor.mapper.SensorValueMapper">

	<select id="findBySensorId" resultType="SensorValue">
		SELECT * FROM
		sensor_value
		WHERE sensor_id = #{sensorId}
		ORDER BY time DESC
		LIMIT 0,10
	</select>

	<select id="findByTime" resultType="SensorValue">
		SELECT * FROM
		sensor_value
		WHERE sensor_id = #{sId}
		AND DATE(time) &gt;= #{ft} AND DATE(time) &lt;= #{lt}
		ORDER BY time
	</select>

	<insert id="addSensorValue">
		insert into sensor_value values(null, #{sensorId}, #{time}, #{value})
	</insert>

</mapper>
