<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.brandonbai.smartmonitor.mapper.SensorMapper">
	
	<select id="findSensorByAreaId" resultMap="sensorRM">
		SELECT * FROM
		(SELECT * FROM 
			tb_sensor s 
			LEFT JOIN
			(SELECT * FROM 
				(SELECT id nId, name node_name, area_id FROM tb_node ) n
				LEFT JOIN
				(SELECT id aId, name area_name FROM tb_area ) a
				ON n.area_id = a.aId WHERE a.aId = #{areaId} ) an
			ON s.node_id = an.nId) s
		LEFT JOIN
		(SELECT id tId, max, min FROM tb_threshold) t
		ON s.id = t.tId
	</select>
	
	<resultMap type="com.github.brandonbai.smartmonitor.vo.SensorVO" id="sensorRM" autoMapping="true">
		<id column="id" property="id"/>
		<association property="threshold" javaType="Threshold">
			<id column="tId" property="id"/>
			<result column="max" property="max"/>
			<result column="min" property="min"/>
		</association>
	</resultMap>

	<select id="findAllSensor" resultMap="sensorRM">
		SELECT * FROM
		(SELECT * FROM
		tb_sensor s
		LEFT JOIN
		(SELECT * FROM
		(SELECT id nId, name node_name, area_id FROM tb_node ) n
		LEFT JOIN
		(SELECT id aId, name area_name FROM tb_area ) a
		ON n.area_id = a.aId) an
		ON s.node_id = an.nId) s
		LEFT JOIN
		(SELECT id tId, max, min FROM tb_threshold) t
		ON s.id = t.tId
	</select>

	<insert id="insertSensor" >
		INSERT INTO tb_sensor VALUES (NULL,#{name},#{unit},#{realValue},#{deviceId},#{nodeId})
	</insert>

</mapper>