<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifeihu.smartmonitor.mapper.ThresholdMapper">
	<select id="findAll" resultMap="thresholdRM">
		SELECT * FROM
		tb_threshold t
		LEFT JOIN
		(SELECT id s_id, name FROM tb_sensor) s
		ON t.id=s.s_id
	</select>
	
	<resultMap type="Threshold" id="thresholdRM" autoMapping="true">
		<id column="id" property="id"/>
		<association property="sensor" javaType="Sensor">
			<id column="s_id" property="id"/>
			<result column="name" property="name"/>
		</association>
	</resultMap>
	
	<select id="findOne" resultMap="thresholdRM">
		SELECT * FROM
		tb_threshold t
		LEFT JOIN
		(SELECT id s_id, name FROM tb_sensor) s
		ON t.id=s.s_id
		where id = #{id}
	</select>
	
	<update id="update">
		update tb_threshold
		<set>
			max=#{max},
			min=#{min}
		</set>
		where id = #{id}
	</update>
	
</mapper>
