@media screen and (min-width: 993px){
  header{
    padding-left:180px;
  }
  main{
    padding-left:300px;
  }
}
.toDaCenter{
  text-align:center;
}
.toDaRight{
  text-align:right;
}
.toDaLeft{
  text-align:left;
}
.toDaJustify{
  text-align:justify;
}
.collapsible-header{
	padding-left: 32px!important;
}
.collapsible-body {
    padding-left: 20px!important;
}