<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.brandonbai.smartmonitor.mapper.AreaMapper">
	
	<select id="findAll" resultType="Area">
		select * from area
	</select>
	
	<select id="findOne" resultType="Area">
		select * from area where id = #{areaId}
	</select>
	
	<update id="updateArea">
		update area set name = #{name},
		description = #{area.description}
		where id = #{area.id}
	</update>
	
	<delete id="deleteArea">
		delete from area where id = #{areaId}
	</delete>
	
	<insert id="addArea">
		insert into area values(null,#{name},#{description})
	</insert>
	
</mapper>
